footer{
    background-color: $verde;
    padding: 13px;

    .footInfo{
        font-size: 16px;

        a{
            color: $negro;
            text-decoration: none;
            font-size: 20px;
        }

        a:hover{
                color: #333;
            }
    }
    .footRedes{
        font-size: 20px;
        text-align: center;

        i{
            font-size: 36px;
            text-indent: 25px;
            text-align: center;
            color: #333;
            text-shadow: 0 0 4px $celesteoscuro;
        }
        i:hover{
            color: $celesteoscuro;
        }
    }
}