
header{
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar{
    background-color: $azul;


    .navButtons{
        color: #fff;
        font-size: 20px;
        background-color: $celeste;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 10px;
        display: inline-block;
    }
    .navButtons:hover{
        background-color: $verde;
    }
    .navbar-toggler{
        color: $celeste;
        background-color: $celeste;
    }
}